* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.pointer:hover {
  cursor: pointer;
}

.navbar-container .right-menu .create-icon {
  margin-right: 2rem;
  outline: none;
  padding: 0.5rem;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 2.5rem;
}

.classes-container .class-card {
  min-height: 10rem;
  min-width: 20rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  margin: .5rem;
  padding: 1.5rem;
  cursor: pointer;
}

.classes-container .class-card:hover {
  border-color: #0d6efd;
}

.classes-container .class-card .card-head .class-title {
  color: #0d6efd;
}

.classes-container .class-card .card-body {
  padding: 1rem 0;
}

.list-container {
  list-style: none;
  padding-left: 0;
}

.upcoming-container {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  padding: 1rem;
  margin: .5rem 0;
}

.upcoming-container h2 {
  font-size: calc(0.5rem + .9vw);
}

.post-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post-list-container .post {
  margin: .5rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: .25rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-list-container .post .post-icon {
  color: #fff;
  background: #0d6efd;
  border-radius: 50px;
  font-size: 25px;
  padding: 15px;
  margin-right: 15px;
}

.post-list-container .post .post-details .post-title {
  font-size: large;
}

.post-list-container .post .post-details .post-date {
  font-size: small;
  padding: 0;
  margin: 0;
}

.post-list-container .post:hover {
  border-color: #0d6efd;
}

.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-container .banner-icon {
  font-size: 2.5rem;
  color: #fff;
  background: #0d6efd;
  border-radius: 50px;
  padding: 15px;
  margin-right: 15px;
}

.post-container .post-title {
  color: #0d6efd;
}

.post-container .post-icon {
  color: #0d6efd;
  padding: 0 5px;
}

.post-container .post-meta .post-author {
  padding-right: 15px;
}

.post-container .post-description {
  text-align: justify;
  text-justify: inter-word;
  max-width: 650px;
  line-height: 1.75rem;
}

.commentbox-container textarea {
  padding: .5rem;
  margin: .5rem 0;
  height: 3rem;
}

.commentbox-container textarea:focus {
  outline: none;
  border: 1px solid #0d6efd;
}

.commentbox-container button {
  outline: none;
  border: 0;
  padding: .5rem;
  margin: .5rem;
  border-radius: .25rem;
  color: #fff;
  background: #0d6efd;
}

.create-classroom-container {
  max-width: 450px;
}

.create-classroom-container h1 {
  color: #0d6efd;
}

.create-post-container {
  margin: 0.5rem 0;
}

.create-post-container textarea {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.125);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.create-post-container textarea:hover {
  outline: none;
  border: 1px solid #0d6efd;
  cursor: pointer;
}

.create-post-container textarea:focus {
  min-height: calc(1.5em + 8.75rem + 2px);
  cursor: text;
}
/*# sourceMappingURL=main.css.map */