* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.pointer:hover {
    cursor: pointer;
}

.upcoming-container {
    h2 {
        font-size: calc(0.5rem + .9vw);
    }
}

.post-list-container {

    display: flex;
    flex-direction: column;


    .post {

        margin: 10px;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: .25rem;
        cursor: pointer;
    
        display: flex;

        .post-icon {
            color: #fff;
            background: #0d6efd;
            border-radius: 50px;
            font-size: 25px;
            padding: 15px;
            margin-right: 15px;
        }
        .post-details {
            .post-title {
                font-size: large;
            }
            .post-date {
                font-size: small;
                padding: 0;
                margin: 0;
            }
        }
    }
}

.banner-container {

    display: flex;
    flex-direction: row;
    align-items: center;

    .banner-icon {
        font-size: 2.5rem;
        color: #fff;
        background: #0d6efd;
        border-radius: 50px;
        // font-size: 25px;
        padding: 15px;
        margin-right: 15px;
    }
    // .banner-details {}
}